<mat-toolbar id="toolbar" color="primary">POSTMAN CLONE</mat-toolbar>
<div class="main">
    <div id="requestContainer">
        <mat-form-field class="flexChild1" appearance="fill">
            <mat-select [(ngModel)]="requestMethod" id="method" placeholder="Choose method" #method>
                <mat-option value="GET">GET</mat-option>
                <mat-option value="POST">POST</mat-option>
                <mat-option value="DELETE">DELETE</mat-option>
                <mat-option value="PUT">PUT</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="flexChild2" appearance="fill"><input matInput [(ngModel)]="requestUrl" id="requestUrl"
                type="text" placeholder="Enter URL with params" #url></mat-form-field>
        <button mat-raised-button id="perform" class="flexChild3" (click)="perform()" color="primary"
            [disabled]="!method.value">Perform {{method.value}} Request
        </button>
    </div>
    <p *ngIf="error" class="error">{{error}}</p>
    <div id="control">
        <mat-tab-group mat-align-tabs="center" backgroundColor="primary" color="accent">
            <mat-tab label="Request Headers">
                <div id="headerJsonTable" #headerJsonTable>
                    <h3>Request Headers:</h3>
                    <mat-form-field appearance="fill">
                        <input matInput [(ngModel)]="headerFieldCount" type="number" placeholder="Number of items in request header"
                            (input)="setFieldCount()">
                    </mat-form-field>
                    <table id="headerTable" (input)="buildHeaderJson(headerJsonTable)">
                        <tr>
                            <th>INDEX</th>
                            <th>KEY</th>
                            <th>VALUE</th>
                        </tr>
                        <tr *ngFor="let items of fieldCountArray; let index = index;">
                            <td>{{index + 1}}</td>
                            <td>
                                <mat-form-field appearance="fill"><input matInput class="key_{{index + 1}}" type="text">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill"><input matInput class="value_{{index + 1}}" type="text">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div *ngIf="(headerJson | json) != '{}'" id="headerPreviewContainer">
                    <p>Request Header Preview:</p>
                    <pre id="headers">{{headerJson}}</pre>
                </div>
            </mat-tab>
            <mat-tab label="Request Body">
                <div id="bodyContainer">
                    <h3>Request Body:</h3>
                    <div>
                        <mat-form-field appearance="fill"><textarea matInput id="bodyJson" type="text"
                                placeholder="Enter paylod in JSON format" (change)="buildBodyJson(bodyJsonString)" rows="5"
                                #bodyJsonString></textarea></mat-form-field>
                    </div>
                    <button id="buildBodyJson" (click)="buildBodyJson(bodyJsonString)">Set Body</button>
                </div>
                
                <div *ngIf="(bodyJson | json) != '{}'" id="bodyPreviewContainer">
                    <p>Request Body Preview:</p>
                    <pre id="body">{{bodyJson}}</pre>
                </div>
            </mat-tab>
            <mat-tab id="jsonResponse" label="JSON Response">{{response['JSON_RESPONSE'] | json }}</mat-tab>
            <mat-tab id="textResponse" label="Text Response">
                    {{response['TEXT_RESPONSE']}}
            </mat-tab>
        </mat-tab-group>
    </div>
</div>